.header{
    height: 50px;
    width: 100%;
    border-bottom: 3px solid #007dff;
    background-image: linear-gradient(to bottom, #4c5e66, #253036);
}

.footer{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to bottom, #4c5e66, #253036);
}